.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
 
 .modal-form-policy-label::before {
    display: inline-block;
    content: "";
    width: 16px;
    height: 15px;
    outline: 1px solid #212121;   
    margin-right: 8px;
  }

  
.modal-form-policy:checked + .modal-form-policy-label::before {
    
    background-color: var(--accent-color);
  }



.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: all;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    width: 528px;
    height: 581px;
    background-color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 40px;
}

.contact-form {  
    display: flex;
    flex-direction: column;   
}



.form-contact-title {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 20px;
    line-height: 1,5;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 12px;
}

.modal-form-field-wrapper {
    display: block;
    position: relative;
    margin-bottom: 10px;
}

.modal-form-field {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.01em;
    color: #757575;  
    margin-bottom: 4px;
    
}

.contact-form__input {    
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
}

.modal-form-svg {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
}

.modal-form-message {    
    width: 100%;   
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    margin-bottom: 25px;
    padding: 12px 16px;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.01em;    
}

.modal-form-policy-label{
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #757575;   
    padding-left: 14px;
    display: flex;
    align-items: center;   
    
}

.modal-form-policy-wrapper {
    display: flex;
    align-items: center;
}

.modal-form-policy-label::before {
    display: inline-block;
    content: "";
    width: 15px;
    height: 14px;
    border: 2px solid #212121;
    margin-right: 7px;   
    outline: none;
    border-radius: 2px;
}
  
  .modal-form-policy:checked + .modal-form-policy-label::before {    
    background-color: var(--accent-color);
    background-image: url(../images/chosen.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid var(--accent-color);
    border-radius: 2px;
    outline: none;
  }

.modal-form-policy-link {
    color: var(--accent-color);
}

.modal-form-btn {    
    font-family: var(--main-font);  
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;  
    color: #ffffff;
    padding: 12px;
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: var(--accent-color);
    cursor: pointer;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-form-btn-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.contact-form__input:focus,
.modal-form-message:focus {
  outline: none;
  border: 1px solid var(--accent-color);
  transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form__input:focus + .modal-form-svg {
  fill: var(--accent-color);
  transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);   
}

.close-button {
width: 30px;
height: 30px;
border-radius: 50%;
border: 1px solid rgba(0, 0, 0, 0.1);
background-color: #FFFFFF;
cursor: pointer;
position: absolute;
top: 8px;
right: 8px;
}

.close-button:hover .close-button-svg {
    fill: var(--accent-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button-svg {
    width: 11px;
    height: 11px;
    fill: #000000;
}