.modal-btn {    
    display: inline-block;
    background: var(--accent-color);    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    padding: 10px 32px;
    letter-spacing: 0.06em;
    color: var(--text-contrast);
    border-radius: 4px;
    min-width: 200px;

}